<div class="container">
    <div mat-dialog-actions class="mat-body-1" style="justify-content: flex-end; margin-bottom: 0px;">
        <span class="mat-h4 crs-dialog-title">Deactivate Listing - Listing was rented / bought by</span>
      <button class="btn customButton shake" mat-menu-item style="width: auto;padding-left: 5px;padding-right: 5px;" (click)="onNoClick()" aria-label="clear">
        <mat-icon style="margin-right: 0px; color: #343a40">clear</mat-icon>
      </button>
    </div>
  <div class="row dialog-content">
    <mat-label>{{data.message}}</mat-label>
    <div class="row dialog-content">
      <span style="padding-right: 25px;">
        <input name="options" [(ngModel)]="options" type="radio" [value]="true" [checked]="options" /> Denzip User </span>
      <span>
        <input (click)="clearValidation()" name="options" [(ngModel)]="options" type="radio" [value]="false" [checked]="!options" /> Other tenant </span>
    </div>

    <form *ngIf="options" class="mobile-number-form" [formGroup]="denzipUserValidations">
      <mat-form-field appearance="outline" class="form-field col-sm-6">
        <mat-label>Tenant Registered Mobile No.</mat-label>
        <div style="display: flex;">
        <input matInput name="indiaCode" disabled value="+91" style="width: 30px;">
        <input matInput placeholder="10-digit Number" formControlName="mobileNumber">
        </div>
        <mat-error *ngIf="denzipUserValidations.get('mobileNumber').hasError('required')">
          This field is mandatory.
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="row justify-content-center">
    <button mat-button class="btn bg-dark margin-right-50" (click)="onNoClick()" aria-label="Cancel">Cancel</button>
    <button mat-button class="btn bg-dark" (click)="storeResult()" cdkFocusInitial aria-label="Ok">Ok</button>
  </div>
</div>
