<div>
    <div>
      <div class="mat-h2 app-text-title">Bangalore - Recently Added Homes, Apartments, Flats</div>
      <app-property-summary-card [listings]="listings"> </app-property-summary-card>
    </div>
    <div>
      <section class="container" style="padding-top: 60px;">
        <div class="row">
          <div class="col-sm-12" style="padding-top: 20px;padding-bottom: 12px;border-radius: 8px;box-shadow: 0 3px 13px #afa2a2;">
            <div style="font-size: 25px;padding-bottom: 20px;text-align: center;"> Didn't find what you were looking for?</div>
            <mat-grid-list cols="1" rowHeight="30px">
              <mat-grid-tile>
                <div style="width: 100%" class="contact-us-card">
                  <button mat-button class="btn btn-dark btn-block" (click)="openPostRequirementDialog()" aria-label="Post your requirement">
                    <mat-icon style="margin-right: 5px;" color="lightgray">event_note</mat-icon>
                    <span class="mat-body-1">Post your requirement with us!!</span>
                  </button>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </div>
      </section>
    </div>
  </div>
  