<div style="padding-bottom: 10px;">
  <label class="btn btn-default" style="padding-left: 0px; padding-right: 0px;">
    <input type="file" (change)="selectFile($event)" multiple>
  </label>

  <div class="progress" style="width: 100%;">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
      aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
  </div>
</div>
