<div color="lightgray" class="crs-footer footer bg-dark">
  <div class="row">
    <div class="col-sm-12 links">
      <a href="https://www.facebook.com/denzipLtd/" target="_blank">
        <img src="../../../../assets/flogo-Hex-RGB-MedGrey-58.png" alt="fb-logo" style="height: 25px;" aria-hidden="false">
          <span style="margin-left: 8px;display: inline-flex;" class="footer-text">denzip.com</span>
      </a>
      <a href="https://twitter.com/DenzipTech" target="_blank">
        <img src="../../../../assets/Twitter_Logo_WhiteOnImage.png" alt="twitter-logo" style="height: 25px;" aria-hidden="true">
          <span style="margin-left: 8px;display: inline-flex;" class="footer-text">#Denzip</span>
      </a>
      <div class="row bg-dark footer-copyright">
        <div class="col-12 signature">
          <a href="policy"> Terms and Privacy policy</a>
        </div>
      </div>
      <div class="row bg-dark footer-copyright">
        <div class="col-12 signature">
          &#169;
          <span class="year" data-testid="footer-year">{{year}} - DENZIP </span>
        </div>
      </div>
    </div>
  </div>
</div>
