<section class="container">
  <div *ngIf="listings== null || listings.length <= 0" class="row mat-body-1 app-text-rent-deposit">

    <p>
      Sorry, we currently support only specific locality search to serve you with best and efficient efforts. Either try relaxing search filters or search in one of the
      below localities which we currently serve. You can also checkout all the <a href="/recentListings">recently added homes, apartments, flats</a>. We are working on Bangalore city based search and will bring it to you soon -
    </p>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJ5SJ-v20RrjsRdZfVnCnzPf0&lat=12.9879659&lng=77.68952480000007&bhk=&listingType=Rent">Mahadevapura, bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJ6YCFXX4RrjsRNSycZt5Eeh0&lat=12.9720888&lng=77.69436399999995&bhk=">Doddanekundi, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJcWWpwyoSrjsR4yf1T5HrLY8&lat=12.9703434&lng=77.700647&bhk=">Chinnapanahalli, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJg_wNXfMRrjsR-RUB2BKlzzA&lat=12.9697999&lng=77.74994670000001&bhk=">Whitefield, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li>
          <a href="/listing-summary?placeId=ChIJMXz1nyQSrjsRapXq4IDC75I&lat=12.9654796&lng=77.7184638&bhk=&listingType=Rent">Brookefield, Bangalore</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJrz_X0ScSrjsRoMeuM9dpkGM&lat=12.9684517&lng=77.70943749999992&bhk=">Kundalahalli, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJVwkdVbQTrjsRGUkefteUeFk&lat=12.9591722&lng=77.69741899999997&bhk=">Marathahalli, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJ0UipAbITrjsR8uPgah8qaiw&lat=12.9394137&lng=77.69520310000007&bhk=">Kadubeesanahalli, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJWfLn1FMSrjsRxDle2oyW4Jc&lat=12.9355734&lng=77.70574950000002&bhk=">Panathur, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
        <li><a href="/listing-summary?placeId=ChIJL-k0LnUTrjsRrmqYb6Y0ssI&lat=12.9304278&lng=77.678404&bhk=">Bellandur, Bangalore</a></li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
        <ul>
          <li>
            <a href="/listing-summary?placeId=ChIJzW7cv5EUrjsRecj7OYRxMvI&lat=12.9121181&lng=77.64455479999992&bhk=&listingType=Rent">HSR Layout, Bangalore</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
          <ul>
          <li>
            <a href="/listing-summary?placeId=ChIJLfyY2E4UrjsRVq4AjI7zgRY&lat=12.9352273&lng=77.62443310000003&bhk=&listingType=Rent">Koramangala, Bangalore</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
        <ul>
        <li>
          <a href="/listing-summary?placeId=ChIJMTCpkfwUrjsRP9zLdiXmr_A&lat=12.9165757&lng=77.61011630000007&bhk=&listingType=Rent">BTM Layout, Bangalore</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
      <ul>
      <li>
        <a href="/listing-summary?placeId=EltIYXJsdXIgTWFpbiBSZCwgUlQgTmFnYXIsIFBXRCBRdWFydGVycywgMXN0IFNlY3RvciwgSFNSIExheW91dCwgQmVuZ2FsdXJ1LCBLYXJuYXRha2EsIEluZGlhIi4qLAoUChIJL8al4GUTrjsR1axY0wVCH6USFAoSCf0iaQxwE647Ec4YgGXufOEP&lat=12.91477&lng=77.66701160000002&bhk=&listingType=Rent">Sarjapur Main Rd, Harlur, Bangalore</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
    <ul>
    <li>
      <a href="/listing-summary?placeId=ChIJw-FQd4psrjsRHfdazg_8XEo&lat=12.8439867&lng=77.67391270000007&bhk=&listingType=Rent">Electronic City, Bangalore</a>
    </li>
  </ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
  <ul>
  <li>
    <a href="/listing-summary?placeId=ChIJD1FpvJMRrjsRSPg6XJzpz5I&lat=12.9899646&lng=77.713301&bhk=&listingType=Rent">Hoodi, Bangalore</a>
  </li>
</ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
  <ul>
  <li>
    <a href="/listing-summary?placeId=ChIJcVwGKtAQrjsRxXoaRFHZjQA&lat=13.0326328&lng=77.65833450000002&bhk=&listingType=Rent">Horamavu, Bangalore</a>
  </li>
</ul>
</div>
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 crs-internal-container" style="height: 22px;">
  <ul>
  <li>
    <a href="/listing-summary?placeId=ChIJt_HEzi0XrjsRiv_DIQD0PFI&lat=13.0359337&lng=77.64314760000002&bhk=&listingType=Rent">Hennur, Bangalore</a>
  </li>
</ul>
</div>

    <p style="margin-block-start: 12px;">
      We are adding new properties everyday so please visit us again or follow us on Facebook, Twitter, WhatsApp for regular updates.
      Thank You for choosing Denzip and we look forward to serving you again.
    </p>
  </div>
</section>
