<section>
  <div class="top-margin-description">
    <div class="mat-h2 app-text-title">About us</div>
  </div>

  <div class="contact-us-card">
    <div class="top-margin-description div-icon-home-page ">
      <div class="row" style="padding-left: 30px; padding-top: 10px;">
        <h4>Mission Statement</h4>
      </div>
      <div class="row" style="padding-left: 30px; padding-right: 30px; padding-top: 7px;text-align: justify;">
        <p>End To End Solution to Increase Efficiency, Reduce Time & Decrease Cost for Home Rentals
        </p>
      </div>
    </div>
  </div>

  <div class="contact-us-card">
    <div class="top-margin-description div-icon-home-page ">
      <div class="row" style="padding-left: 30px; padding-top: 10px;">
        <h4>Motivation for Denzip</h4>
      </div>
      <div class="row" style="padding-left: 30px; padding-right: 30px; padding-top: 7px;text-align: justify;">
        <p>Denzip firmly believes that finding a home for any individual is still a big issue. All the parties involved in this
          process, face problem, right from identifying a property, collaborating amongst each other, verifying the mentioned
          information so on and so forth. Denzip tries to solve all these problems by providing verified, consistent and
          quality properties for rentals using cutting-edge technology and an exemplary customer service.
        </p>
      </div>
    </div>
  </div>

  <div class="contact-us-card">
    <div class="top-margin-description div-icon-home-page ">
      <div class="row" style="padding-left: 30px; padding-top: 10px;">
        <h4>Our Team</h4>
      </div>
      <div class="row" style="padding-top: 7px">
        <div class="col-sm-6">
          <div>
            <img src="../../../assets/yogesh-about-us.jpeg" alt="Yogesh Jain" class="about-us-img">
          </div>
          <div class="name-about-us">Yogesh Jain</div>
          <div class="designation-about-us">Co-Founder</div>
          <div class="text-center">
            <a href="https://www.linkedin.com/in/yogeshjain83/" target="tab">
              <img src="../../../assets/In-Blue-21@2x.png" style="height: 25px;margin: 7px;" alt="linkedin-logo" aria-hidden="false">
            </a>
          </div>
          <div style="padding-left: 30px; padding-right: 30px;text-align: justify;">
            <p>Yogesh is a seasoned technologist with around 13 years of experience in the IT industry. He is interested in
              solving real life problems and thrives to create value to end consumers. Yogesh holds a bachelor of technology
              degree from IIT, Delhi. Prior to this, he was working for JP Morgan Chase & Co, ACI Worldwide and CenturyLink.
            </p>
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <img src="../../../assets/mayur-about-us.png" alt="Mayur Patki" class="about-us-img">
          </div>
          <div class="name-about-us">Mayur Patki</div>
          <div class="designation-about-us">Co-Founder</div>
          <div class="text-center">
            <a href="https://www.linkedin.com/in/mayur-patki/" target="tab">
              <img src="../../../assets/In-Blue-21@2x.png" style="height: 25px;margin: 7px;" alt="linkedin-logo" aria-hidden="false">
            </a>
          </div>
          <div style="padding-left: 30px; padding-right: 30px;text-align: justify;">
            <p>Mayur has 7 years of experience in the IT industry and is interested in solving challenging and complex problems.
              Mayur holds a bachelor of engineering degree in Computer Science and Engineering from GIT, Belgaum. Prior to
              this, he was working for JP Morgan Chase & Co, ACI Worldwide and Tata Consultancy Services.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
