<div style="position: sticky; position: -webkit-sticky; bottom: 0px; width: 100%; z-index: 30;">
  <section class="container">
    <div class="row">
      <div class="col-sm-12 bg-dark" style="padding-left: 0px; padding-right: 0px;">
        <button mat-button class="btn btn-dark btn-block" (click)="scheduleRequest()" aria-label="Schedule Visit For All">
          <mat-icon color="lightgray">event</mat-icon>
          <span class="mat-body-1">Schedule Visit For All</span>
        </button>
      </div>
    </div>
  </section>
</div>
