<form (ngSubmit)="onSubmit()" style="width: 100%;">
    <mat-form-field style="width: 100%;">
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of selectedTags" [selectable]="true" [removable]="true" (removed)="remove(tag)">
          {{tag.tagName}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="#Tag Of Your Requirement, e.g. #2 BHK, Doddanekundi For Rent" #tagInput [formControl]="formCtrl" [matAutocomplete]="auto"
          [matChipInputFor]="tagList" [matChipInputAddOnBlur]="true">
      </mat-chip-list>

      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag.tagName}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div class="row justify-content-center">
      <div class="col-xs-12">
        <button mat-button class="btn btn-dark" type="submit" aria-label="Submit">
          <span class="mat-body-1">Submit</span>
        </button>
      </div>
    </div>
  </form>
